[submodule "site/themes/hermit"]
	path = site/themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "site/themes/hugo-sustain"]
	path = site/themes/hugo-sustain
	url = https://github.com/nurlansu/hugo-sustain.git
